@import 'variables';
@import '~bootstrap/scss/bootstrap.scss';
@import 'boostwatch';
@import 'helpers';


.sidenav {
  min-width: 225px;
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  a {
    padding: 20px 40px;
    text-decoration: none;
    color: #c0c3c9;

    display: block;
    &:hover {
        color: $intermanager-primary;
        background-color: #f5f7f7;
    }
  }

  .profile {
      img {
          max-height: 90px;
          border: 1.1px  solid rgba(0, 0, 0, .1);
      }
  }

  .sidenav-header {
      max-height: 50px;
      img {
          max-height: 40px;
          padding: 0 10px 0 10px;
      }
  }
}

//
.main {
  margin-left: 225px;
  
}


// list

.list-group {
    overflow: scroll;
    height: 100vh;
}

.list-input {
    input {
        min-width: 420px;
        width: 100% !important;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-left: none;
    }
}

// user
.user-list {
    cursor: pointer;
    min-width: 420px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    img {
        max-height: 100px;
    }
    &:hover {
        color: $intermanager-primary;
        background-color: #f5f7f7;
    } 
}


.profile-detail {
    overflow-y: auto;;
    overflow-x:hidden; 
    height:100vh;
    .profile {
       background-image: linear-gradient(to right top, #1e70a1, #65689d, #89618b, #9a6074, #9b6660, #9d6f58, #997a53, #908654, #8a9657, #7ca763, #61b878, #20c997);
        min-height: 250px;
        position: relative;
        img {
            max-height: 90px;
        }
    }
    
}

.detail-overview {
    p {
        padding: 20px;
    }

    .user {
        padding: 0 20px;
        .col-6 {
            padding-bottom: 20px;
        }
    }
}



// group



.list {

    cursor: pointer;
    padding: 30px 40px;
    min-width: 420px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;

    
    &:hover {
        color: $intermanager-primary;
        background-color: #f5f7f7;
    }
    .Bitmap {
        max-width: 31px;
        max-height: 31px;
        opacity: 0.81;
        border: 1px solid #f5f7f7;
        margin-right: 5px;
        &:hover {
            transition: .3s;
            opacity: 1;
        }
    }
}